@media screen and (max-width: 576px) {
    .nav-hamburger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
   
    nav {
        margin:20px 50px;
        justify-content: space-between;
         
    }
    .nav-title {
        font-size: 30px;
        margin-left: 0;
        
    }
    .banner-pic,.banner-title{
       padding: 0;
       margin-top: 0;
    }
    .banner-title{
        font-size: 3rem;
    }
    .banner-des{
        font-size: 1rem;
        padding-right: 150px;
    }

    .banner, .second-title {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        margin: 0; 
        padding: 20px;
    }

    .second {
        margin-top: 400px;
         margin-left: 0;
       
        width: auto;
    }

    .second-page-img {
        grid-template-columns: 1fr;
        gap: 20px; 
    }
    .habit {
        width: 100%; 
    }
    .habit-title{
        font-size: 25px;
    }
    .habit-des{
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .run{
        flex-direction: column;
        width: calc(100% - 60px); 
        height: auto;
        margin: 1150px 20px 10px 20px;
        padding-right: 30px;
        overflow-x: hidden;
    }
    .run-content-left{
        width:100%;
        padding-left: 30px;
        padding-right: 60px;
      }
      .run-content-right{
        width:100%;
      }
    .run-pic{
        height: 170px;
        width:95%;
        justify-content: center;
    }
    .meet {
        width: calc(100% - 60px); 
        margin: 0 auto; 
        text-align: center; 
        padding: 20px;
    }

    .trainer {
        width: calc(100% - 30px); 
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .trainer-content {
        width: 100%; 
        height:272px;
        padding-right: 30px;
    }
    .trainer-name{
        padding-left: 10px;;
    }
    .trainer-content p{
        margin-bottom: 0px;
    }
    .footer {
        margin-top:1300px;
        height: auto;
        padding: 10px;
    }

    .first-footer {
        flex-direction: column;
        
    }

    .footer-des, .get-started {
        width: 100%;
        flex-direction: column;
    }

    .get-started h3 , .footer-des h2{
        font-size: 2.5rem;
    }

    .first-get, .second-get {
        margin-right: 0; /* Remove margin-right for smaller screens */
        margin-bottom: 20px; /* Add space between the lists */
    }
    
    .footer-line {
        width: 100%;
        margin-top: 20px;
    }
    
}
